<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark ">
            <div class="container">
              <a class="navbar-brand" id="Marca">El ciervo</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Github</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
    </header>
    <main>
        <form action="/validar" method="post">
            <div class="row g-3">
                <div class="col-sm-7">
                  <input type="text" class="form-control" placeholder="Comida" aria-label="Comida" name="com" id="com">
                </div>
                <div class="col-sm">
                  <input type="text" class="form-control" placeholder="Temperatura" aria-label="Temperatura" name="temp"id="temp">
                </div>
                <div class="col-sm">
                  <input type="text" class="form-control" placeholder="Ubicacion" aria-label="Ubicacion"name="ubi" id="ubi">
                </div>
              </div>
          <input type="submit" value="enviar" id="botonaso">
        </form>

    </main>


    <script src="Conexion.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>